/*
    Color Theme:
    #2978A0 - Blue 1
    #086788 - Blue 2
    #575D90 - Purple 1
    #8BB174 - Green 1
    #C3423F - Red 1
*/

#main-block {
    font-family: 'Montserrat', sans-serif;
    margin: 10% 20% 10% 10%;
}

.column {
    float: left;
    width: 50%;
}

.text-block {
    color: #8BB174;
    text-align: center;
}

.banner-lines {
    border: 5px solid #575D90;
    border-radius: 2px;
    margin-top: -1em;
    margin-bottom: -1em;
}

.self-image {
    margin-top: -3em;
    float: right;
}

.body-text {
    color: #C3423F;
    padding-top: 10px;
}

.socials-icons {
    color: gray;
    padding-top: 10px;
    font-size: 25px;
}