/*
    Color Theme:
    #2978A0 - Blue 1
    #086788 - Blue 2
    #575D90 - Purple 1
    #8BB174 - Green 1
    #C3423F - Red 1
*/

#main-block {
    font-family: 'Montserrat', sans-serif;
}

.text-block {
    color: #8BB174;
    text-align: center;
}

.banner-lines {
    border: 5px solid #575D90;
    border-radius: 2px;
    margin-top: -1em;
    margin-bottom: -1em;
}

.body-text {
    color: #C3423F;
    padding-top: 10px;
}

.socials-icons {
    color: gray;
    padding-top: 10px;
    font-size: 25px;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #111;
}

/* Control the right side */
.right {
    right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
}